.navbar{
    background-color: transparent;
}
  
.navbar.colorChange{
    background-color: black;
}

.icon{
    color: black;
}
  
.icon.colorChange{
    color: white;
}

.alessandra{
    color: black;
}
  
.alessandra.colorChange{
    color: white;
}